<div class="col-lg-12">
  <div class="card">
    <div class="card-header" style="background-color: rgb(12, 124, 124);">
      
      <h3 style="color:white;font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">Live Cart</h3>


      
  </div>
    <div class="card-body">
      <table *ngIf="mission" class="table table-bordered">
        <thead>
          <tr>
            
            <th>Chauffeur</th>
            <th>Vehicule</th>
            <th>Destination</th>
            
            <th>Temps de depart</th>
            
            <th>Visualiser sur Maps</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let m of mission | paginate: { itemsPerPage: 6, currentPage: p } ">
            <td>{{m.user.name}}</td> 
            <td>{{m.vehicule.matricule}}</td>                          
              <td>{{m.adress}}</td>
              
             
              <td>{{m.departTime}}</td>
              
              <td>              
                  <button type="button" class="btn btn-light" (click)="liveCart(m.id)"><i class="fa fa-map-marker"></i></button>
              </td>
          </tr> 
        </tbody>
      </table>
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
        <li class="page-item active">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </div>
  </div>
</div>