

  
  <div [hidden]="form1" class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div class="card" >
          <div class="card-header" style="background-color: rgb(12, 124, 124);">
            <strong  style="color:white"> Information Générales </strong>
          </div>
          <div    class="card-body">
            <div class="row">
              <div class="col-md-3">
            <fieldset class="form-group">

              <div class="input-group">
                <img  class="img-account-profile rounded-circle mb-2" style="border-radius: 50% !important;height: 10rem;margin-left: 10px; " [src]=" user.image ?imagedirectory+user.image :''" class="img-avatar" />

              </div>

            </fieldset>
              </div>
              <div class="col-md-9">

                <div class="form-group row">

                  <div class="col-md-6">

                    <fieldset class="form-group">
                      <label for="text-input" class=" form-control-label">Name</label>             
                       <div class="input-group">
                      <input type="text" id="text-input"  disabled ngModel="{{user.name}} " class="form-control" name="marque">
                    </div>
                  </fieldset>

                  </div>
                  <div class="col-md-6">

                      <label class=" form-control-label">Prénom</label>
                      <div class="input-group">

                        <input type="text"  disabled [ngModel]="user.prenom"     class="form-control" name="prenom">
                      </div>

                  </div>

                </div>
                <div class="form-group row">
                  <div class="col-md-6">

                    <label class=" form-control-label">Téléphone</label>
                    <div class="input-group">

                      <input type="text"  disabled ngModel="{{user.tel}} "   name="tel"   class="form-control">
                    </div>


                  </div>
                  <div class="col-md-6">

                    <label  class=" form-control-label">email</label>
                    <div  class="input-group">
                      <input type="text"     disabled ngModel="{{user.email}}" name="email"    class="form-control"/>
                    </div>

                  </div>

                </div>

                <div  class="form-group row">
                <div class="col-md-6">

                  <label class=" form-control-label">Cin</label>
                  <div class="input-group">

                    <input type="text" disabled ngModel="{{user.cin}}" name="cin"     class="form-control">
                  </div>

                </div>
                <div class="col-md-6">

                  <label class=" form-control-label">Adresse</label>
                  <div class="input-group">

                    <input type="text"  disabled ngModel="{{user.adress}} "    name="adress"  class="form-control">
                  </div>


                </div>

                </div>

                <br>
               
              </div>
            </div>


          </div>

        </div>
      </div>











    </div><!-- /.row -->
  </div>






<!-- Formulaire de modification des coordonnes -->




















