<app-header
  [navbarBrandRouterLink]="['dashboard']"
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/cap.PNG', width: 100, height: 50}"
  [navbarBrandMinimized]="{src:'assets/img/brand/cap.PNG', width: 30, height: 30}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="'lg'">
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3">
      <a class="nav-link" href="#">Dashboard</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" href="#">Users</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" href="#">Settings</a>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <li *ngIf=" user &&user.usertype==='1'" class="nav-item dropdown d-md-down-none" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <i class="icon-list"></i><span class="badge badge-pill badge-warning">{{nbrappels}}</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg" *dropdownMenu aria-labelledby="simple-dropdown" style="width: 500px;">
        <div class="dropdown-header text-center"><strong>Rappels</strong></div>
        <ul *ngFor="let rap of rappels" href="#" class="dropdown-item" style="list-style: none;">
     
          <li style="text-decoration: none;" (click)="detailsrappels()" ><i class="icon-bell"></i>{{rap.message}}</li>
         
     
       
    </ul>
  
        <a href="#" class="dropdown-item text-center">
          <strong>View all tasks</strong>
        </a>
      </div>
    </li> 
    <li *ngIf=" user &&user.usertype==='0'" class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <i class="icon-bell"></i><span class="badge badge-pill badge-danger">{{nbr}}</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg" *dropdownMenu aria-labelledby="simple-dropdown" style="width: 410px;">
        <div class="dropdown-header text-center">
          <strong>Missions En attente</strong>
        </div>
        
        <ul *ngFor="let not of notificationschauffeurs" href="#" class="dropdown-item" style="list-style: none;">
     
          <li style="text-decoration: none;" ><i class="icon-bell"></i>{{not.message}}</li>
         
     
       
    </ul>
      </div>
    </li>
    <li *ngIf=" user &&user.usertype==='1'" class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <i class="icon-bell"></i><span class="badge badge-pill badge-danger">{{nbrnotfadmin}}</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg" *dropdownMenu aria-labelledby="simple-dropdown" style="width: 410px;">
        <div class="dropdown-header text-center">
          <strong>Notifications</strong>
        </div>
        <ul style="list-style: none;" *ngFor="let not of notfadmin" href="#" class="dropdown-item">
          <li (click)="detailNotif()"><i class="icon-bell"></i>{{not.message}}</li>
    </ul>
      </div>
    </li>
    <li *ngIf=" user &&user.usertype==='1'" class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <i class="fa fa-warning"></i><span class="badge badge-pill badge-danger">{{nbralertes}}</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg" *dropdownMenu aria-labelledby="simple-dropdown" style="width: 460px;">
        <div class="dropdown-header text-center">
          <strong>Alertes</strong>
        </div>
        <ul style="list-style: none;" *ngFor="let alr of alertes" href="#" class="dropdown-item">
          <li (click)="detailalertes()"><i class="icon-bell"></i>{{alr.message}}</li>
    </ul>
      </div>
    </li>
       


    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <img *ngIf=" user &&user.usertype==='1'" [src]="user.image?imagedirectory+user.image:''" class="img-avatar" alt="admin@bootstrapmaster.com"/>

        <img *ngIf=" user &&user.usertype==='0'" [src]="user.image?imagedirectory+user.image:''" class="img-avatar" alt="admin@bootstrapmaster.com"/>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>{{user.name}}</strong></div>
        <a class="dropdown-item" (click)="deconnexion()" href="#"><i class="fa fa-lock"></i> Logout</a>

        <a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i> Updates<span class="badge badge-info">42</span></a>
        <a class="dropdown-item" href="#"><i class="fa fa-envelope-o"></i> Messages<span class="badge badge-success">42</span></a>
        <a class="dropdown-item" href="#"><i class="fa fa-tasks"></i> Tasks<span class="badge badge-danger">42</span></a>
        <!-- <a class="dropdown-item" href="#"><i class="fa fa-comments"></i> Comment<span class="badge badge-warning">42</span></a> -->
        <a *ngIf=" user &&user.usertype==='1'" class="dropdown-item" routerLink="/profileAdmin"><i class="fa fa-user"></i> Profile</a>
        <a *ngIf=" user &&user.usertype==='0'" class="dropdown-item" routerLink="/chauffeur/profile"><i class="fa fa-user"></i> Profile</a>

        <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Setting</a>
        <!-- <a class="dropdown-item" href="#"><i class="fa fa-usd"></i> Payments<span class="badge badge-dark">42</span></a>
        <a class="dropdown-item" href="#"><i class="fa fa-file"></i> Projects<span class="badge badge-primary">42</span></a> -->
        <div class="divider"></div>
        <a class="dropdown-item" href="#"><i class="fa fa-shield"></i> Lock account</a>
        <!-- <a class="dropdown-item" routerLink="logout"><i class="fa fa-lock"></i> Logout</a> -->
        <!-- <a class="dropdown-item" routerLink="logout" (click)="logout()"><i class="fa fa-lock"></i> Logout</a> -->

      </div>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'">
    <app-sidebar-nav *ngIf=" user &&user.usertype==='0'" [navItems]="chaufItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
    <app-sidebar-nav *ngIf=" user && user.usertype==='1'" [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav> 
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <!-- breaking change 'cui-breadcrumb' -->
    <cui-breadcrumb>
      <!-- Breadcrumb Menu-->
    
    </cui-breadcrumb>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
  </div>
<app-footer>
  <span><a href="https://coreui.io/pro/angular/">CoreUI Pro</a> &copy; 2018 creativeLabs.</span>
  <span class="ml-auto">Powered by <a href="https://coreui.io/pro/angular">CoreUI Pro for Angular</a></span>
</app-footer>
