
<style>
  .map-wrapper {
  position:relative;
  
}

.map-border {
  border: 1px solid beige;
  height: 360px;
}

#map {
  height: 100%;
}
#geofence {
  height: 100%;
}
</style>
<div class="animated fadeIn">
  <div class="row" *ngIf=" user && user.usertype==='1'">
    <div class="col-6 col-lg-3">
      <div class="card">
        <div class="card-body p-3 clearfix">
          <i class="fa fa-user bg-primary p-3 font-2xl mr-3 float-left"></i>
          <div class="h5 text-primary mb-0 mt-2">{{nb}}</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Chauffeurs</div>
        </div>
      </div>
    </div>
    <div class="col-6 col-lg-3">
      <div class="card">
        <div class="card-body p-3 clearfix">
          <i class="fa fa-car bg-primary p-3 font-2xl mr-3 float-left"></i>
          <div class="h5 text-primary mb-0 mt-2">{{nbvehicules}}</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Véhicules</div>
        </div>
      </div>
    </div>
    <div class="col-6 col-lg-3">

    <div class="card">
      <div class="card-body p-3 clearfix">
        <i class="fa fa-car bg-primary p-3 font-2xl mr-3 float-left"></i>
        <div class="h5 text-primary mb-0 mt-1">{{nbvehienlivraison}}</div>
        <div class="text-muted text-uppercase font-weight-bold font-xs">Véhicules en Missions</div>
      </div>
    </div>
    </div>
    <div class="col-6 col-lg-3">

    <div class="card">
      <div class="card-body p-3 clearfix">
        <i class="fa fa-car bg-primary p-3 font-2xl mr-3 float-left"></i>
        <div class="h5 text-primary mb-0 mt-1">{{terminatedmiss}}</div>
        <div class="text-muted text-uppercase font-weight-bold font-xs">Missions terimnés</div>
      </div>
    </div>
    </div>

    <br>
    <table class="table table-responsive-sm table-hover table-outline mb-0">
      <thead class="thead-dark">
        <tr>
          <th class="text-center"><i class="icon-people"></i></th>
          <th>User</th>
          <th class="text-center">Date expiration permis</th>
          <th>Num permis</th>
          <th class="text-center">Tel</th>
          <th>Cin</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of fivelatestusers">
          <td class="text-center">
            <div class="avatar">
              <img [src]="u.image?imagedirectory+u.image:''" class="img-avatar" >
              <span class="avatar-status badge-success"></span>
            </div>
          </td>
          <td>
            <div>{{u.name}} {{u.prenom}}</div>
            <div class="small text-muted">
              <span>New</span> | Registered: {{u.created_at}}
            </div>
          </td>
          <td class="text-center">
            {{u.datefin}}
          </td>
          <td>
            <div class="clearfix">
              <div class="float-left">
                <strong>{{u.numpermis}}</strong>
              </div>

            </div>
          </td>
          <td class="text-center">
          <strong>{{u.tel}}</strong>
          </td>
          <td>
            <div class="small text-muted"></div>
            <strong>{{u.cin}}</strong>
          </td>
        </tr>
      </tbody>
    </table>
    <br>
  </div>
    
    
  </div><!--/.row-->
  <br>
  
  <!--/.card-->
 
  <div class="row" *ngIf=" user && user.usertype==='1'">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Dashboard Mission
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="row">
        
              </div>
              <hr class="mt-0">
              <div class="chart-wrapper">
                <canvas baseChart class="chart"
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [chartType]="pieChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
              </div>
              <span style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;position: absolute;left:220px">Les Destinations</span>

                <!-- <div class="progress-group-bars">
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-info" role="progressbar" style="width:99%" aria-valuenow="9" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 69%" aria-valuenow="69" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div> -->
               
              
            </div><!--/.col-->
            <div class="col-sm-6">
              <div class="row">
                <!-- <div class="col-sm-6">
                  <div class="callout callout-warning">
                    <small class="text-muted">Destination</small>
                    <br>
                    <strong class="h4">{{totaladress}}</strong>
                  </div>
                </div> -->
                <!-- <div class="col-sm-6">
                  <div class="callout callout-success">
                    <small class="text-muted">Organic</small>
                    <br>
                    <strong class="h4">49,123</strong>
                  </div>
                </div> -->
              </div>
              <hr class="mt-0">
                
                  <div class="chart-wrapper">
                    <canvas baseChart class="chart"
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
                  </div>
                <span style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;position: absolute;left:220px">Nombre de missions par mois</span>
             
            </div><!--/.col-->
          </div><!--/.row-->
          <br>
          
        </div>
        
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
 
  
  
  <!-- <div class="col-lg-12" *ngIf=" user && user.usertype==='0'">
    <div class="card">
      <div class="card-header">
        <div><h2 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Les missions</h2></div>
        <div class="border border-light p-3 mb-4"> 
        <div class="d-flex align-items-center justify-content-center">
            <span style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif  ;font-weight: bold;" > Aujourd'hui le :{{dateactuelle}}</span>
           
          </div>
        </div>
        <div class="row"  >
          <div class="col-md-3">

          <div class="form-check">
              <input
                mdbCheckbox
                class="form-check-input"
                type="checkbox"
                id="flexCheckDefault"
                [value]="-1"
                [(ngModel)]="afficherajourdhui"
                (change)="onChangeFood($event)"
                />
              <label class="form-check-label" for="flexCheckDefault">
                Aujourd'hui
              </label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-check">
              <input
                mdbCheckbox
                type="checkbox"
                class="form-check-input"
                [(ngModel)]="affichercetsemaine"
                (change)="onChangeFood2($event)"
                [value]="-1"
                id="flexCheckDefault"
              />
              <label class="form-check-label" for="flexCheckDefault">
                   toute la semaine
              </label>
            </div>
          </div>
          <div class="col-md-3">
              <div class="form-check">
                <input
                  mdbCheckbox
                  [(ngModel)]="afficherprochainesemaine"
                  class="form-check-input"
                  type="checkbox"
                  [value]="-1"
                  id="flexCheckDefault"
                  (change)="onChangeFood3($event)"
                />
                <label class="form-check-label" for="flexCheckDefault">
                    semaine prochaine
                </label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-check">
                <input
                  mdbCheckbox
                  [(ngModel)]="afficherdeuxsemaines"
                  class="form-check-input"
                  type="checkbox"
                  [value]="-1"
                  id="flexCheckDefault"
                  (change)="onChangeFood4($event)"
                />
                <label class="form-check-label" for="flexCheckDefault">
                    Les deux prochaine semaines
                </label>
              </div>
            </div>
           
        </div>
        <div class="row">
         
        </div>
     </div>
      <div class="card-body">
        <span style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;" [hidden]="!msgonload">Aucun Mission Trouvée</span> 
        <div [hidden]="!afficherajourdhui">
          <h4 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Les missions d'aujourd'hui</h4><br>

        <table class="table table-bordered" >

          <thead>
            <tr>
              <th>Véhicule</th>
              <th>Destination</th>
              <th>Date</th>
              <th>Temps de départ</th>
              <th>Temps d'arrivé</th>
              <th>Status</th>
              <th>Action</th>
              <th>Détail</th>
            </tr>
          </thead>
          <tbody>
         
            <tr *ngFor="let miss of missionaujourdui">
              <td>{{miss.marque}} Matricule {{miss.matricule}}</td>
              <td>{{miss.adress}}</td>
              <td>{{miss.date}}</td>
              <td>{{miss.departTime}}</td>
              <td>{{miss.arriveTime}}</td>

              <td>
                <span class="badge badge-warning">{{miss.etat}}</span>
              </td>
               <td *ngIf="miss.date==dateactuelle">  

                <button type="button" class="badge badge-danger" (click)="lancer(miss.id)">Lancer</button>

              </td>
              <td>
                <button type="button" class="badge badge-info" (click)="detailmission(miss.id)">mission </button>

              </td>
            </tr>
          </tbody>
          <span style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;" *ngIf="missionaujourdui.length ===0">Aucun Mission Trouvée</span> 

        </table>
      </div>

      <div [hidden]="!affichercetsemaine">
        <h4 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Les missions pour cette semaine</h4><br>

        <table class="table table-bordered" >
          <thead>
            <tr>
              <th>Véhicule</th>
              <th>Destination</th>
              <th>Date</th>
              <th>Temps de départ</th>
              <th>Temps d'arrivé</th>
              <th>Status</th>
              <th>Action</th>
              <th>Détail</th>
            </tr>
          </thead>
          <tbody>
         
            <tr *ngFor="let miss of missionscetsemaine">
              <td>{{miss.marque}} Matricule {{miss.matricule}}</td>
              <td>{{miss.adress}}</td>
              <td>{{miss.date}}</td>
              <td>{{miss.departTime}}</td>
              <td>{{miss.arriveTime}}</td>

              <td>
                <span class="badge badge-warning">{{miss.etat}}</span>
              </td>
               <td *ngIf="miss.date==dateactuelle">  

                <button type="button" class="badge badge-danger" (click)="lancer(miss.id)">Lancer</button>
                <button type="button" class="badge badge-danger" (click)="terminer(miss.id)">Terminer</button>

              </td>
              <td>
                <button type="button" class="badge badge-info" (click)="detailmission(miss.id)">mission </button>
              </td>
            </tr>
          </tbody>
          <span style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;" *ngIf="missionscetsemaine.length ===0">Aucun Mission Trouvée</span> 

        </table>
      </div>

        <div [hidden]="!afficherprochainesemaine">
          <h4 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Les missions de la prochaine semaine</h4><br>

          <table class="table table-bordered">
          <thead>
            <tr>
              <th>Véhicule</th>
              <th>Destination</th>
              <th>Date</th>
              <th>Temps de départ</th>
              <th>Temps d'arrivé</th>
              <th>Status</th>
              <th>Action</th>
              <th>Détail</th>
            </tr>
          </thead>
          <tbody>
         
            <tr *ngFor="let miss of missionsemainceprochaine">
              <td>{{miss.marque}} Matricule {{miss.matricule}}</td>
              <td>{{miss.adress}}</td>
              <td>{{miss.date}}</td>
              <td>{{miss.departTime}}</td>
              <td>{{miss.arriveTime}}</td>

              <td>
                <span class="badge badge-warning">{{miss.etat}}</span>
              </td>
               <td *ngIf="miss.date==dateactuelle">  

                <button type="button" class="badge badge-danger" (click)="lancer(miss.id)">Lancer</button>
                <button type="button" class="badge badge-danger" (click)="terminer(miss.id)">Terminer</button>

              </td>
              <td>
                <button type="button" class="badge badge-info" (click)="detailmission(miss.id)">mission </button>

              </td>
            </tr>
          </tbody>
          <span style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;" *ngIf="missionsemainceprochaine.length ===0">Aucun Mission Trouvée</span> 

        </table>
      </div>

      <div [hidden]="!afficherdeuxsemaines">
        <h4 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Les missions pour les deux prochaines semaines</h4><br>

        <table class="table table-bordered" >
          <thead>
            <tr>
              <th>Véhicule</th>
              <th>Destination</th>
              <th>Date</th>
              <th>Temps de départ</th>
              <th>Temps d'arrivé</th>
              <th>Status</th>
              <th>Action</th>
              <th>Détail</th>
            </tr>
          </thead>
          <tbody>
         
            <tr *ngFor="let miss of missionsdeuxsemaines">
              <td>{{miss.marque}} Matricule {{miss.matricule}}</td>
              <td>{{miss.adress}}</td>
              <td>{{miss.date}}</td>
              <td>{{miss.departTime}}</td>
              <td>{{miss.arriveTime}}</td>
              <td>
                <span class="badge badge-warning">{{miss.etat}}</span>
              </td>
               <td *ngIf="miss.date==dateactuelle">  

                <button type="button" class="badge badge-danger" (click)="lancer(miss.id)">Lancer</button>
                <button type="button" class="badge badge-danger" (click)="terminer(miss.id)">Terminer</button>
              </td>
              <td>
                <button type="button" class="badge badge-info" (click)="detailmission(miss.id)">mission </button>
              </td>
            </tr>
          </tbody>
          <span style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;" *ngIf="missionsdeuxsemaines.length ===0">Aucun Mission Trouvée</span> 

        </table>
      </div>
      </div>
    </div>
  </div> -->


  <div class="col-lg-12" *ngIf=" user && user.usertype==='0'">


    <div class="col-md-4">
      <button type="button" class="btn btn-primary" data-toggle="modal" (click)="largeModal.show()">
        Vérifier Emplacement
      </button>
      <button type="button" class="btn btn-secondary" [disabled]="!afficherbutton" (click)="Present()">Present</button>
  
    </div>
    <br>
        
        
      <div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Vérifier votre position</h4>
              <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
             <button (click)="MarquerPresence()" class="btn btn-primary">Marquer Present</button> 
              <div class="map-wrapper">
                
                
                <div class="map-border">
                  <div id="geofence"></div>
                </div>
                
                
                </div><!--/.row-->
            </div>
            <div class="modal-footer">
             
              <button type="button" class="btn btn-secondary" (click)="largeModal.hide()">Close</button>
              <button type="button" class="btn btn-secondary"  (click)="valider()">valider</button>
  
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
  
        
      <full-calendar [options]="calendarOptions"></full-calendar>
    </div>
    